@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    background-color: #ECF2FF;
    letter-spacing: 0.7px;
    margin: 0;
    padding: 0;
    color: #585454;
    overflow-y: scroll;
    overflow-x: hidden;
}

.unikl-logo {
    width: 55%;
    margin-left: 36px;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #2C4E80;
    color: white;
    position: fixed;
    height: 100%;
    top: 0;
}

.sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}


.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
    transition: .5s;
}

.name-id {
    text-align: center;
    font-size: 14px;
}

.content {
    margin-left: 250px;
    padding: 1px 16px;
    height: 100%;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;
    width: 100%;
    height: 80px;
}


header a {
    display: inline;
    padding: 50px;
    text-decoration: none;
    color: white;
}


/* Add padding to containers */
.container {
    padding: 30px;
    background-color: white;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: 1s;
}

.container-login {
    padding: 30px;
    background-color: white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.container-register {
    padding: 30px;
    background-color: white;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.profile-img {
    max-width: 200px;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: cover;
    /* Ensures the image covers the entire container */
    border-style: none;
}

.profile-img-2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width: 200px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    object-fit: cover;
    /* Ensures the image covers the entire container */
    border-style: none;
}

/* Full-width input fields */
input[type=text],
input[type=password],
input[type=email] {
    width: 95%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 10px;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
}

input[type=reset] {
    background-color: #e7822f;
    color: white;
    border-style: none;
    float: right;
    height: 25px;
    cursor: pointer;
}

input[type=reset]:hover {
    background-color: #f79f58;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit button */
input[type=submit] {
    background-color: #655DBB;
    font-size: 17px;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    letter-spacing: 1.5px;
    font-family: 'Poppins', sans-serif;
}

input[type=submit]:hover {
    opacity: 1;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
    text-decoration: none;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    text-align: center;
}

.edit-btn {
    border-style: none;
    padding: 5px 10px 5px 10px;
    background-color: rgb(77, 182, 252);
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

.edit-btn a {
    color: white;
}

.update-btn {
    border-style: none;
    padding: 5px 10px 5px 10px;
    background-color: rgb(77, 182, 252);
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

.cancel-btn {
    border-style: none;
    padding: 5px 10px 5px 10px;
    background-color: rgb(177, 40, 40);
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

.cancel-btn a {
    text-decoration: none;
    color: white;
}

i {
    float: left;
    width: 60px;
    padding-left: 20px;
}


@media screen and (max-width: 600px) {

    body {
        overflow: auto;
        overflow-x: hidden;
    }

    .content {
        width: 100%;
        height: 100%;
        margin-right: 0%;
    }

    header {
        width: 100%;
        height: 80px;
        text-align: center;
        position: fixed;
        top: 0;
    }

    #myChart {
        width: 100%;
        height: "200";
    }

    .chart-container {
        flex: 1;
        margin-left: auto;
        margin-right: auto;
        height: 50vh;
    }

    .chatbot-container {
        width: 100%;
        position: fixed;
    }

    .bot-header {
        border-radius: 0%;
        width: 100%;
        position: fixed;
        margin-top: 30%;
    }

    .chatbox {
        overflow-y: scroll;
        width: 100%;
        position: fixed;
        margin-top: 45%;
    }

    #userInput {
        border-radius: 0%;
        width: 100%;
        bottom: 70px;
        position: fixed;
    }

    .Container-select {
        border-radius: 0%;
        bottom: 0;
        width: 100%;
        position: fixed;
    }

    #SelectQuery {
        border-style: none;
        border-radius: 10px;
        width: 80%;
        text-align: center;
        background-color: #eff1f6;
        color: rgb(137, 134, 134);
    }

    #SearchQuery {
        width: 75%;
    }

    .container {
        width: 80%;
    }

    .container-login {
        padding: 20px;
        width: 100%;
        height: 100%;
        border-radius: 0%;
        font-size: 12px;
        margin-top: 20%;
        position: fixed;
        overflow-y: scroll;
    }

    input[type=text],
    input[type=password],
    input[type=email] {
        width: 86%;
        padding: 12px;
    }

    input[type=submit] {
        font-size: 12px;
        padding: 16px 20px;
        width: 94%;
    }

    .container-register {
        width: 100%;
        height: 80%;
        border-radius: 0%;
        font-size: 12px;
        position: fixed;
        margin-top: 20%;
        overflow-y: scroll;
    }

    .container-register input[type=submit].register-btn {
        width: 90%;
    }

    .container-register.signin {
        text-align: center;
    }

    .container-info {

        border-radius: 0%;
        width: 100%;
        top: 6vh;
        font-size: 12px;
        padding: 0%;
    }

    .container-history {
        width: 80%;
        overflow-y: auto;
        font-size: 12px;
    }

    .container-1,
    .container-2,
    .container-3 {
        font-size: 12px;
        width: 80%;
    }


    .sidebar {
        position: fixed;
        width: 100%;
        height: 56px;
        text-align: center;
        display: inline-flex;
        margin-top: 19%;
    }

    .sidebar i {
        font-size: 25px;
        width: 20px;
        flex: 1;
        text-align: center;
    }


    label.sidebar-title {
        display: none;
    }

    .unikl-logo {
        display: none;
    }

    #userAdminName-2,
    #userAdminid-2,
    #userName-2,
    #userStudid-2 {
        display: none;
    }

    .profile-img-2 {
        display: inline-flex;
        width: 60px;
        height: 60px;
        margin-left: 20px;
        display: none;
    }

    .hr-sidebar {
        display: none;
    }


}
